<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Reservation <i class="fa-regular fa-calendar-check"></i></h1>
      <p>1ヶ月先まで予約することができます。</p>
    </div>
    <div class="col-12 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>