<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Reservation</i></h1>
      <p>予約開放日は毎月20日です。</p>
    </div>
    <div class="col-12 mt-3">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>