// 画面サイズが768px以下の場合(スマホ)
@media (max-width: 768px) {
  .wrapper {
    min-height: calc(100vh - 120px);
    position: relative;
    box-sizing: border-box;
  }

  footer {
    padding: 15px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%; /* 追加：フッターを横幅いっぱいに広げる */
    background-color: #696969;
    color: #fff;
    text-align: center;
  }

  .title h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .title p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .title h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .table {
    width: 100%;
  }

  .table img {
    max-width: 100%;
    height: auto;
  }
  .text-center {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 20px;
  }

  .items {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .items img {
    max-width: 100%;
    height: auto;
  }

  .top-title{
    color: white;
    padding: 50px;
    font-size: 6px;
  }
  .title {
    font-size: 18px;
    margin
    .tag-box {
        text-align: center;
      }
    
      .label {
        display: inline-block;
        margin: 5px;
      }
    
      .mt-3.text-center {
        margin-top: 15px;
      }
    
      .btn.w-25.mt-3.change_button {
        width: 100%;
      }
    
      .user-edit-container {
        padding: 0 15px;
        overflow-x: hidden; /* 横スクロールを非表示にする */
      }
    
      .user-edit-table td {
        display: block;
        text-align: center;
        padding: 10px;
      }
    
      .salon-edit-container {
        padding: 0 15px;
        overflow-x: hidden; /* 横スクロールを非表示にする */
      }
    
      .salon-edit-table td {
        display: block;
        text-align: center;
        padding: 10px;
      }
    
      .new-post-container {
        padding: 0 15px;
        overflow-x: hidden; /* 横スクロールを非表示にする */
      }
    
      .new-post-table td {
        display: block;
        text-align: center;
        padding: 10px;
      }
    
      .salon-user-container {
        padding: 0 15px;
        overflow-x: hidden;
      }
    
      .salon-user-table td {
        display: block;
        text-align: center;
        padding: 10px;
      }
    
      .salon-user-edit-container {
        padding: 0 15px;
        overflow-x: hidden;
      }
    
      .salon-user-edit-table td {
        display: block;
        text-align: center;
        padding: 10px;
      }
    
      .salon-user-index-container {
        padding: 10px;
        width: 100%;
        overflow-x: hidden;
      }
    
      .salon-user-index-table {
        font-size: 14px;
      }
    
     .calender-page .calendar-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
    
      .calender-page .calendar-title {
        font-size: 18px;
      }
    
      .calender-page .salon-schedule-table {
        font-size: 12px;
      }
    
      .calender-page .table th,
      .calender-page .table td {
        padding: 5px;
      }
    }
    
    
      .main-container {
        background-image: image-url('IMG_4746.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
          background-size: 60% auto;
          height: 300px;
          margin: 50px;
          width: 100%;
      }
    
      .about {
        background-image: image-url('26156942_s.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60% auto;
        height: 500px;
        margin: 50px;
        width: 100%;
      }
    
      .salon-top {
        background-image: image-url('26935184_s.jpg');
        background-size: cover;
        background-position: center;          /* 全画面 */
        color: #696969;
        background-repeat: no-repeat;
           background-size: 60% auto;
          height: 300px;
          margin: 50px;
          width: 100%;
          padding: 80px;
      }
    
      .h1 {
        color: #E6E6E6;
      }
    
      .wday-0 {
        background-color: #f9cece;
     }
    
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {
        background-color: #bcd8ff;
      }
    
      .today {
        background-color: #F7BE81;
      }
    
      .like-link{
         text-decoration: none;
      }
    
      .like-link:hover {
        background-color: #fff!important;
      }
    
      .like-btn {
        font-size: 10px;
        color: #C0C0C0;
      }
    
      .unlike-btn {
        font-size: 15px;
        color: #FF0000;
      }
    
      .like {
        color: #FF0000;
      }
    
      .pagination>li>a {
        border: none;
        color: #696969;
      }
    
    /* 表示しているページ番号のデザイン */
      .pagination>.active>a {
        background: #93c9ff;
        border-radius: 15px;     /*角を丸くする*/
      }
    /*ホバー時のデザイン*/
      .pagination>li>a:hover {
        border-radius: 15px;    /*角を丸くする*/
      }
    
      .pagination {
        justify-content: center;
       }
    
      .top-title{
        color: white;
        padding: 80px;
      }
    
      .wrapper{
        min-height: 100vh;
        position: relative;/*←相対位置*/
        padding-bottom: 120px;/*←footerの高さ*/
        box-sizing: border-box;
      }
    
      footer{
        width: 100%;
        background-color: #696969;
        color: #fff;
        text-align: center;
        padding: 30px 0;
        position: absolute;/*←絶対位置*/
        bottom: 0; /*下に固定*/
      }
    
      .message {
        margin-top: 70px;
        margin-bottom: 80px;
        background-color: #b0c4de;
      }
    
      .segment {
        padding: 20px;
      }
    
      .input-mysize-message {
        width: 100%;
        height: 300px !important;
      }
    
      .item-right {
        text-align: right;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    
      .item-left {
          text-align: left;
          margin-top: 5px;
          margin-bottom: 5px;
        p {
          padding-left: 410px;
        }
      }
    
      .clear {
        clear:both;
      }
    
      div#balloon{
        display: inline-block;
        position: relative;
        margin: 0 0 0 50px;
        padding: 10px;
        max-width: 250px;
        border-radius: 12px;
        background: #edf1ee;
      }
    
      div#balloon:before {
        display: inline-block;
        position: relative;
        margin: 0 0 0 50px;
        padding: 10px;
        max-width: 250px;
        border-radius: 12px;
        background: #edf1ee;
      }
    
      div#balloon:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 3px;
        left: -19px;
        border: 8px solid transparent;
        border-right: 18px solid #edf1ee;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
    
      div#balloon1{
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 8px;
        max-width: 250px;
        border-radius: 12px;
        background: #30e852;
        font-size: 15px;
      }
    
      div#balloon1:before {
        display: inline-block;
        position: relative;
        margin: 0 10px 0 0;
        padding: 8px;
        max-width: 250px;
        border-radius: 12px;
        background: #30e852;
        font-size: 15px;
      }
    
      div#balloon1:after {
        content: "";
        position: absolute;
        top: 3px;
        right: -19px;
        border: 8px solid transparent;
        border-left: 18px solid #30e852;
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
      }
    
      .message-field {
        text-align: right;
      }
    
      .label {
        background-color: #337ab7;
        font-weight: 500;
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
      }
    
      .box73{
        margin: 2em auto; /* ボックスの余白 */
        padding:3em 2em 2em; /* ボックス内側余白 */
        position:relative; /* 配置(ここを基準に)*/
        border: 1px solid #909792;	/* ボックスの線 (太さ　種類　色)*/
      }
    
      .box73 .box-title {
      background-color:#909792; /* タイトル背景色 */
      font-size: 1em;/* タイトル文字の大きさ */
      color: #fff ; /* タイトル文字色 */
      padding: 7px 10px;/*タイトルの余白*/
      line-height: 1;/*タイトルの行の高さ*/
      position:absolute;	/* 配置(ここを動かす) */
      top: 0; /*上から（0px）移動*/
      left: 0; /*左から(0px)移動*/
      }
    
      .balloon-009 {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 0 22px;
        margin: 25px;
      }
    
      .balloon-009 img {
        max-width: 70px;
        height: 100%;
        border: 3px solid #d6b8c8;
        border-radius: 50%;
      }
    
      .balloon-009 p {
        position: relative;
        max-width: 300px;
        margin: 3px 0 0;
        padding: .8em 1em;
        border-radius: 5px;
        background-color: #f1dfdf;
        color: #333333;
      }
    
      .balloon-009 p::before {
        position: absolute;
        left: -15px;
        width: 15px;
        height: 30px;
        background-color: #f1dfdf;
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
        content: '';
      }
    
      .score-ok {
        color: #0000ff;
      }
    
      .score-ng {
        color: #b22222;
      }
    
    : 15px 0;
  }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
